<p>Beste  {{ dump(newUserName) }},</p>
<p>Wij hebben uw mail in goede orde ontvangen! Om maar direct even met de deur in huis te vallen krijgt u
  van ons een klantnummer. Met deze klantnummer kunt u korting krijgen en uw account activeren/deactiveren.
  Gaat u op vakantie, dan is het natuurlijk zonde om de bloemen te laten verwelken. Wilt u dan tijdelijk
  uw account deactiveren? Dan kunt u <a href="{{ dump(loginlink) }}">hier</a> inloggen.</p>
<P>U ziet ons bloemetjes spoedig tegemoet!</p>
<p>Groetjes Beau Drost,</p>
<p>Bosje van Drosje</p>
