<p>Hey {{ newUserName }},</p>
<p>Wij hebben uw inschrijving in goede orde ontvangen! Om maar direct even met de deur in huis te vallen krijgt u
  van ons een login tot uw abonnement. Met deze logingegevens kunt u uw abbonement (tijdelijk) activeren/deactiveren.
  <a target="_blank" href="https://www.bosjevandrosje.nl/user">Inloggen kan hier</a>.<br />Gebruik hiervoor het
  tijdelijk wachtwoord: <b>{{ password }}</b>. <b>BELANGRIJK: verander het wachtwoord na de eerste keer
  inloggen</b>. Als gebruikersnaam gebruikt u de door u ingegeven mailadres. Heeft u nog vragen? Neem dan even <a target="_blank" href="https://www.bosjevandrosje.nl/contact">contact</a> met ons op!</p>
<P>U ziet onze bloemetjes spoedig tegemoet!</p>
<p>Groetjes Beau Drost,</p>
<p>Bosje van Drosje</p>
